
table
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(232, 237, 255);
}
td,table,th
{
    border: 2px solid black;
    border-collapse:collapse ;
    text-align: center;
    
    padding: 5px;
}

tr:nth-child(even){background-color:rgb(212, 225, 252);}