
<h1 class="text-center">VIEW EXPENSE</h1>
<table class="table-success">
    <tr class="table table-stripped">
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>CATEGORY</th>
        <th>AMOUNTSPENT</th>
        <th>EDIT</th>
        <th>DELETE</th>       
    </tr>
    <tr class="table table-stripped" *ngFor=" let i of data;let count = index">
    <td>{{ count + 1 }}</td>
    <td>{{i.name}}</td>
    <td>{{i.description}}</td>
    <td>{{i.category}}</td>
    <td>{{i.amount_spent}}</td>   
    <td><button (click)="edit(i.id)" class="btn btn-warning">EDIT</button></td>
    <td><button (click)="delete(i.id)" class="btn btn-danger">DELETE</button></td>
    </tr>
</table>