<div class="container">
    <!-- <h2>Login</h2> -->
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <h2 class="text-center" >Login</h2>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
  
